__pycache__/
ENI/__pycache__/
ENI/nohup.out
GLM/__pycache__/
GLM/nohup.out
LMA/__pycache__/
LMA/nohup.out
plot/__pycache__/
plot/nohup.out
MRMS/__pycache__/
MRMS/nohup.out
manual-analysis-v1/__pycache__/
manual-analysis-v1/nohup.out
ABI/__pycache__/
ABI/nohup.out
ml-manual-analysis/__pycache__/
ml-manual-analysis/nohup.out
